---
---

@import "{{ site.theme }}";

.win_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(assets/images/os_download.png) no-repeat bottom left;
}

.mac_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(assets/images/os_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.win_download_link:hover {
  background: url(../images/os_download.png) no-repeat top left;
}

.mac_download_link:hover {
  background: url(../images/os_download.png) no-repeat top right;
}